{% extends 'base.html.twig' %}

{% block title %}plaisir vie{% endblock %}

{% block body %}


<div class="jumbotron">
  <h2>A propos du restaurant PLAISIR VIE </h2>
  <p>Au cœur de la ville de Douala, à quelques pas du quartier Bonapriso  il s’ébroue joyeusement, le restaurant PLAISIR VIE vous propose une cuisine entièrement élaborée sur place, autour de produits frais et de saison. C’est simple : ici il n’y a pas de congélateur !.</p>
  <p>Bâtie autour de trois axes, la carte surfe sur un esprit bistronomique. Courte, elle va à l’essentiel : une ardoise renouvelée chaque semaine au gré des saisons, du marché et de l’inspiration de ceux qui la conçoivent, une partie fixe qui met à l’honneur les belles pièces de la maison  et un chapitre bistrotier qui vous propose de généreuses planches de charcuterie haut de gamme agrémentées par nos légumes en Pickles maison. Et si vous souhaitez vous mettre en appétit avec la terrine du chef, rien de plus simple : nous vous apportons la terrine à table, et vous vous servez comme bon vous semble</p>
  <p>Contact: Email: info@plaisir_vie.com Téléphone:674 35 09 99 </p>
  

</div>
{% endblock %}