{% extends 'base.html.twig' %}

{% block title %}plaisir vie{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/var/www/plaisi_vie/src/Controller/MainAppController.php'|file_link(0) }}">src/Controller/MainAppController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/var/www/plaisi_vie/templates/main_app/index.html.twig'|file_link(0) }}">templates/main_app/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
