{% extends 'base.html.twig' %}

{% block title %}plaisir vie{% endblock %}

{% block body %}


<div class="jumbotron">
  <h2>Page introuvable !!!</h2>
  <p>Nous ne trouvons pas la page. Verifier l'url vous utiliser ou <a href="{{ path('main_app') }}">retour à la page d'acceuil</a>..</p>
</div>
{% endblock %}